<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Contact Us</h2>
    </div>
    <form>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <label for="name">Name</label>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              tabIndex="1"
            />

            <br />
            <label for="subject">Subject</label>
            <input
              id="subject"
              name="subject"
              type="text"
              class="form-control"
              tabIndex="3"
            />
          </div>

          <div class="col-md-6">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              class="form-control"
              tabIndex="2"
            />

            <br />

            <label for="message">Message</label>
            <input
              id="message"
              name="message"
              type="text"
              class="form-control"
              tabIndex="4"
            />
          </div>

          <div class="text-center">
            <br />

            <button type="submit" class="btn btn-primary" tabIndex="5">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
