<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Cart</h2>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/images/p1.png" />
                </td>
                <td>Abc</td>
                <td>
                  <button class="btn btn-primary" disabled onclick="">-</button>
                  1
                  <button class="btn btn-primary" onclick="">+</button>
                </td>
                <td>123</td>
                <td>123</td>
                <td>
                  <button class="btn btn-primary" onclick="">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="content_right">
            <b> Total: 123 </b>
            <br />
            <button class="btn btn-primary" onclick="">
              <span>Place Order</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
