<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Cart</h2>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="cartItem.length === 0"
          >
            No products in cart
          </div>
          <table *ngIf="cartItem.length > 0">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of cartItem">
                <td>
                  <img src="{{ cart['image'] }}" alt="{{ cart['name'] }}" />
                </td>
                <td>{{ cart["name"] }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    disabled="{{ cart['quantity'] === 1 }}"
                    (click)="minusQuantity(cart)"
                  >
                    -
                  </button>
                  {{ cart['quantity'] }}
                  <button class="btn btn-primary" (click)="addQuantity(cart)">
                    +
                  </button>
                </td>
                <td>{{ cart['price'] }}</td>
                <td>{{ cart['quantity'] * cart['price'] }}</td>
                <td>
                  <button class="btn btn-primary" (click)="removeProduct(cart)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" *ngIf="cartItem.length > 0">
          <div class="content_right">
            <b> Total: {{ total }} </b>
            <br />
            <button class="btn btn-primary" (click)="shippingHandler()">
              <span>Place Order</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
