<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Login</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="error heading_center" *ngIf="errorMsg">
              {{ errorMsg }}
            </div>

            <label for="username">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              tabIndex="1"
            />
            <div
              *ngIf="submitted && f['username'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['username'].errors['required']">
                Username is required
              </div>
            </div>

            <br />

            <label for="password">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              tabIndex="2"
            />
            <div
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>

          <div class="text-center">
            <br />
            <button type="submit" class="btn btn-primary" tabIndex="3">
              Login
            </button>

            <br />
            <br />
            <a routerLink="/signup">New User? Create Account</a>
            <br />
            <br />

            <a routerLink="/forgot">Forgot Password? Click here</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
