<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Forgot</h2>
    </div>
    <form>
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <input
              id="email"
              name="email"
              type="text"
              class="form-control"
              tabIndex="1"
            />
          </div>
          <div class="col-md-6"></div>

          <div class="text-center">
            <br />

            <button type="submit" class="btn btn-primary" tabIndex="2">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
