<div>
  <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call : +01 123455678990 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> Email : demo@gmail.com </span>
            </a>
          </div>
          <div class="search_form">
            <input
              type="text"
              class="form-control"
              placeholder="Search here..."
            />
            <button class="" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <div class="user_option_box">
            <a *ngIf="isLoggedIn" routerLink="/profile" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span> Profile </span>
            </a>
            <a *ngIf="isLoggedIn" routerLink="/wishlist" class="cart-link">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>
                Wishlist
                <span
                  class="badge rounded-pill bg-success"
                  *ngIf="wishlist > 0"
                  >{{ wishlist }}</span
                >
              </span>
            </a>
            <a *ngIf="isLoggedIn" routerLink="/cart" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>
                Cart
                <span class="badge rounded-pill bg-success" *ngIf="cart > 0">{{
                  cart
                }}</span>
              </span>
            </a>
            <a *ngIf="isLoggedIn" routerLink="/orders" class="cart-link">
              <i class="fa fa-first-order" aria-hidden="true"></i>
              <span> Orders </span>
            </a>
            <a *ngIf="!isLoggedIn" routerLink="/login" class="cart-link">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span> Login </span>
            </a>
            <a
              *ngIf="isLoggedIn"
              (click)="logout()"
              routerLink="/"
              class="cart-link"
            >
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span> Logout </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" routerLink="/">
            <span> Minics </span>
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/why">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>
