<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Order Information</h2>
    </div>
    <div>Thank you for placing order</div>
    <h6>Your information is below</h6>
    <div>
      <strong>Shipping Email: email@gmail.com</strong>
    </div>
    <div>
      <strong>Shipping Phone: 123456789</strong>
    </div>
    <div>
      <strong>Shipping Address: address</strong>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
